// Mixin start

// mixin row
@mixin flexRowAllCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flexRowLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexRowRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@mixin flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flexRowEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@mixin flexRowAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@mixin flexRowStretchBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
@mixin flexRowBaselineBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
@mixin flexRowStretchEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
@mixin flexRowBaselineEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
@mixin flexRowStretchAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
@mixin flexRowBaselineAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

// mixin column start
@mixin flexColAllCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@mixin flexColTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexColBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
// mixin colum end

// Mixin end
