$primary-clr: hsl(210, 96%, 40%);
$heading-clr: hsl(210, 96%, 10%);
$background-clr: hsl(0, 0%, 96%);
$font-clr1: hsl(0, 0%, 98%);
$paragraph-clr1: hsl(0, 0%, 94%);
$font-clr2: hsl(210, 96%, 8%);
$paragraph-clr2: hsl(210, 96%, 4%);

// Fonts and size
$font: "Poppins", sans-serif;
$main-fnt: 2.75rem;
$title-fnt: 1.385rem;
$heading-fnt: 1.625rem;
$paragraph-fnt: 1.125rem;
$phone-fnt: 1rem;
$smaller-fnt: 0.8375rem;
